doctype html
html(lang="en")
  head
    title FGLab - Experiment #{experiment._id}
    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/javascripts/d3/d3.min.js")
  body
    h1 Experiment #{experiment._id} (#{experiment.status})

    - if (experiment.status === "running")
      button(class="kill") Kill Experiment

    p= "Hyperparams: " + JSON.stringify(experiment.hyperparams, null, 2)
    if experiment.train
      #resGraph
      //p Training Losses (every #{experiment.train.freq} iterations): #{experiment.train.losses}
    if experiment.val
      p Validation Losses (every #{experiment.val.freq} iterations): #{experiment.val.losses}
    if experiment.test
      p Test Loss: #{experiment.test.loss}
      p Test Score: #{experiment.test.score}

    script.
      $(function() {
        // Chart variables
        var trainLosses = JSON.parse('[!{experiment.val.losses}]'); 
        var width = 800;
        var height = 600;
        var margin = 25;
        var y = d3.scale.linear().domain([0, d3.max(trainLosses)]).range([0 + margin, height - margin]);
        var x = d3.scale.linear().domain([0, trainLosses.length]).range([0 + margin, width - margin]);
        // Create chart
        var vis = d3.select("#resGraph").append("svg:svg").attr("width", width).attr("height", height);
        var g = vis.append("svg:g").attr("transform", "translate(0, 200)");
        // Create line
        var line = d3.svg.line().x(function(d, i) {return x(i);}).y(function(d) {return -1 * y(d);});
        g.append("svg:path").attr("d", line(trainLosses));
        // Create axes
        g.append("svg:line").attr("x1", x(0)).attr("y1", -1 * y(0)).attr("x2", x(width)).attr("y2", -1 * y(0));
        g.append("svg:line").attr("x1", x(0)).attr("y1", -1 * y(0)).attr("x2", x(0)).attr("y2", -1 * y(d3.max(trainLosses)));
        // Create labels



        // Kills experiment
        $("button.kill").on("click", function() {
          $.ajax({
            url: "#{mac}/experiments/#{experiment._id}/kill",
            type: "POST"
          }).then(function(response) {
            location.reload(); // May have succeeded before kill
          }).catch(function(err) {console.log(err);});
          return false; // Stop event and propagation
        });
      });
