extends ./layout.jade

block title
  title FGLab

block content
  .row
    .col-sm-6
      h1 #[span.mega-octicon.octicon-clippy] Projects
      h2 New Project
      form#new-project
        fieldset.form-group
          label(for="schema") Project schema
          input#schema.form-control-file(name="schema", type="file")
          small.text-muted Upload a valid project schema. The name of the JSON file will be used to name the project.
        button.btn.btn-primary(type="submit") Create Project

      br
      h2 Existing Projects
      table#projects.table
        thead
          tr
            th
            th Project ID
            th Name
            th New Experiment
            th Hyperparameter Optimisation
            th Experiment Results
        tbody
          - each project in projects
            tr
              td
                button.btn.btn-danger-outline.btn-sm.delete(data-type="projects", data-id="#{project._id}", type="button") #[span.octicon.octicon-trashcan]
              td #{project._id}
              td #{project.name}
              td 
                a(href="/projects/" + project._id)
                  button.btn.btn-primary-outline.btn-sm(type="button") #[span.octicon.octicon-beaker]
              td 
                a(href="/projects/" + project._id + "/optimisation")
                  button.btn.btn-primary-outline.btn-sm(type="button") #[span.octicon.octicon-circuit-board]
              td 
                a(href="/projects/" + project._id + "/experiments")
                  button.btn.btn-primary-outline.btn-sm(type="button") #[span.octicon.octicon-list-ordered]

    .col-sm-6
      h1 #[span.mega-octicon.octicon-device-desktop] Machines
      ul#machines.list-unstyled
        - each machine in machines
          li
            button.btn.btn-danger-outline.btn-sm.delete(data-type="machines", data-id="#{machine._id}", type="button") #[span.octicon.octicon-trashcan]
            | &nbsp;
            span(id="machine-status-#{machine._id}") ●
            | &nbsp;
            a(href="/machines/" + machine._id) #{machine.hostname}

block scripts
  script.
    $(function() {
      // Make home button active
      $("#nav .nav-item:first-child").addClass("active");

      // Create new project
      $("#new-project").on("submit", function() {
        // Extract file
        var fd = new FormData($(this)[0]);
        // Send
        $.ajax({
          url: "/api/v1/projects/schema",
          type: "POST",
          data: fd,
          processData: false,
          contentType: false
        })
        .then(function() {
          location.reload(); // Refresh page
        })
        .catch(function(err) {
          alert(err.responseText); // Display server error
        });
        return false; // Stop event and propagation
      });

      // Delete project or machine
      $("button.delete").on("click", function() {
        var $el = $(this);
        var type = $el.data("type");
        var id = $el.data("id");

        if (type === "projects") {
          // Delete experiment files
          $.ajax({
            url: "/api/v1/projects/" + id + "/experiments/files",
            type: "DELETE"
          })
          .then(function() {
            // Then delete experiments
            $.ajax({
              url: "/api/v1/projects/" + id + "/experiments",
              type: "DELETE"
            })
            .then(function() {
              // Then delete project
              $.ajax({
                url: "/api/v1/projects/" + id,
                type: "DELETE"
              })
              .then(function() {
                location.reload(); // Refresh page
              })
              .catch(function(err) {
                console.log(err);
              });
            });
          })
          .catch(function(err) {
            console.log(err);
          });
        } else {
          // Delete machine
          $.ajax({
            url: "/api/v1/machines/" + id,
            type: "DELETE"
          })
          .then(function() {
            location.reload(); // Refresh page
          })
          .catch(function(err) {
            console.log(err);
          });
        }
        return false; // Stop event and propagation
      });


      // Parse from string instead prior to accessing internal objects via Jade
      var machines = !{JSON.stringify(machines)};
      for (var i = 0; i < machines.length; i++) {
        (function(i) {
          // Indicate status of machines
          var host = machines[i].address.replace(/^http/, 'ws'); // WebSocket server address
          var ws = null; // WebSocket
          var $status = $("#machine-status-" + machines[i]._id); // Machine status icon

          // Connects to WebSocket server
          var wsConnect = function() {
            ws = new WebSocket(host); // Attempt to connect

            // Set server status as on
            ws.onopen = function(event) {
              $status.removeClass("text-danger");
              $status.addClass("text-success");
            };
            // Set server status as off
            ws.onclose = function(event) {
              // Set status
              $status.removeClass("text-success");
              $status.addClass("text-danger");
            };
          };

          // Reconnects to WebSocket server if needed
          var wsReconnect = function() {
            if (!ws || ws.readyState === WebSocket.CLOSED) {
              wsConnect();
            }
          };

          // Connect 
          wsConnect();
          // Attempt to reconnect every 5s if necessary
          setInterval(wsReconnect, 5000);
        })(i); // Status indicators in function closure
      }
    });
