doctype html
html(lang="en")
  head
    title FGLab: Machine #{machine.hostname}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    
  body.container
    h1 Machine: #{machine.hostname} #[small.text-muted (#{machine._id})]
    dl.dl-horizontal
      dt.col-sm-3 Hostname
      dd.col-sm-9 #{machine.hostname}
      dt.col-sm-3 Address
      dd.col-sm-9 #{machine.address}
      dt.col-sm-3 OS
      dd.col-sm-9 #{machine.os.type} #{machine.os.arch} #{machine.os.release}
      dt.col-sm-3 CPUS
      dd.col-sm-9
        ul.list-unstyled
          - each cpu in machine.cpus
            li= cpu
      dt.col-sm-3 RAM
      dd.col-sm-9 #{machine.mem}
      dt.col-sm-3 GPUS
      dd.col-sm-9
        ul.list-unstyled
          - each gpu in machine.gpus
            li= gpu
