doctype html
html(lang="en")
  head
    title FGLab: Machine #{machine.hostname}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    
  body.container
    h1 Machine #{machine.hostname} (#{machine._id})
    p Address: #{machine.address}
    p Hostname: #{machine.hostname}
    p OS: #{machine.os.type} #{machine.os.arch} #{machine.os.release}
    p CPUS:
    ul
      - each cpu in machine.cpus
        li= cpu
    p RAM: #{machine.mem}
    p GPUS:
    ul
      - each gpu in machine.gpus
        li= gpu
