doctype html
html(lang="en")
  head
    title FGLab - Machine #{machine.hostname}
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css", rel="stylesheet")
  body
    h1 Machine #{machine.hostname} (#{machine._id})
    p Address: #{machine.address}
    p Hostname: #{machine.hostname}
    p OS: #{machine.os.type} #{machine.os.arch} #{machine.os.release}
    p CPUS:
    ul
      - each cpu in machine.cpus
        li= cpu
    p RAM: #{machine.mem}
    p GPUS:
    ul
      - each gpu in machine.gpus
        li= gpu
