extends ./layout.jade

block title
  title FGLab: Project #{project.name}

block styles
  link(href="/bower_components/bootstrap-table/dist/bootstrap-table.min.css", rel="stylesheet")

block content 
  h1 Project: #{project.name} #[small.text-muted (#{project._id})]
  h2 New Experiment
  // TODO Form validation with Bootstrap styles
  form#new-experiment
    each val, key in project.schema
      if (val.type === "int")
        .form-group.row
          label.form-control-label.col-sm-3(for="#{key}") #{key}
          .col-sm-9
            input.form-control(type="number", value="#{val.default}", name="#{key}", id="#{key}", required)
      else if (val.type === "float")
        .form-group.row
          label.form-control-label.col-sm-3(for="#{key}") #{key}
          .col-sm-9
            input.form-control(type="number", value="#{val.default}", step="any", name="#{key}", id="#{key}", required)
      else if (val.type === "bool")
        // TODO Consider replacing with two radio buttons
        .form-group.row
          label.form-control-label.col-sm-3(for="#{key}") #{key}
          .col-sm-9
            input.form-control(type="text", value="#{val.default}", pattern="(true|false)", title="Enter true or false", name="#{key}", id="#{key}", required)
      else if (val.type === "string")
        .form-group.row
          label.form-control-label.col-sm-3(for="#{key}") #{key}
          .col-sm-9
            input.form-control(type="text", value="#{val.default}", name="#{key}", id="#{key}", required)
      else if (val.type === "enum")
        .form-group.row
          label.form-control-label.col-sm-3(for="#{key}") #{key}
          .col-sm-9
            select.form-control(name="#{key}", id="#{key}")
              each value in val.values
                if (value === val.default)
                  option(value="#{value}", selected="selected") #{value}
                else
                  option(value="#{value}") #{value}
    .form-group.row
      .col-sm-9.col-sm-offset-3
        button.btn.btn-primary(type="submit") Check Availability

  h3 Available Machines
  #available-machines

  h2 Experiments
  table#experiments

block scripts
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/bootstrap-table/dist/bootstrap-table.min.js")
  script.
    // Flattens JSON objects
    JSON.flatten = function(data) {
      var result = {};
      function recurse (cur, prop) {
        if (Object(cur) !== cur) {
          result[prop] = cur;
        } else if (Array.isArray(cur)) {
          for(var i = 0, l = cur.length; i < l; i++) {
            recurse(cur[i], prop ? prop + "." + i : "" + i);
          }
          if (l == 0) {
            result[prop] = [];
          }
        } else {
          var isEmpty = true;
          for (var p in cur) {
            isEmpty = false;
            recurse(cur[p], prop ? prop + "." + p : p);
          }
          if (isEmpty) {
            result[prop] = {};
          }
        }
      }
      recurse(data, "");
      return result;
    }

    // Parse from string instead prior to accessing internal objects via Jade
    var schema = !{JSON.stringify(project.schema)};
    var experiments = !{JSON.stringify(experiments)};

    // Create columns from hyperparams
    var columns = [{field: "_id", title: "ID", sortable: "true"}, {field: "test.score", title: "Score", sortable: "true"}];
    // Utilises 2 functions to solve loop scope problem
    for (var key in schema) {
      columns.push({field: "hyperparams." + key, title: key, sortable: true});
    }
    columns.push({field: "delete", title: "Delete"});

    // Flatten each experiment
    for (var i = 0; i < experiments.length; i++) {
      experiments[i] = JSON.flatten(experiments[i]);
    }

    $(function() {
      // Initialise experiment table
      $("#experiments").bootstrapTable({
        classes: "table",
        undefinedText: "",
        striped: true,
        search: true,
        columns: columns,
        data: experiments
      });
      
      // Deletes experiment
      $("#experiments").on("click-cell.bs.table", function(event, field, val, obj) {
        if (field === "delete") {
          $.ajax({
            url: "/api/experiments/" + obj._id,
            type: "DELETE"
          })
          .then(function() {
            location.reload(); // Refresh page
          });
          return false; // Stop event and propagation
        }
      });

      // Checks availability
      $("#new-experiment").on("submit", function() {
         $.ajax({
          url: "/experiments/#{project._id}/check", // TODO Change to query params
          type: "POST"
        }).
        then(function(responses) {
          var $list = $("#available-machines");
          $list.html(""); // Empty list
          // Fill list
          responses.forEach(function(mac) {
            mac = JSON.parse(mac); // Extract information from string
            $list.append("<button data-id='" + mac.id + "' class='btn btn-success'>" + mac.hostname + "</button>");
          });
        });
        return false; // Stop event and propagation
      });

      // Submits experiment (with dynamically added buttons)
      $("#available-machines").on("click", "button", function() {
        // Get machine
        var macId = $(this).data("id");
        // Process form
        var formObj = {};
        // Loop over form simply (does not work on nested data)
        $("#new-experiment").find(":input").not(":submit").each(function(ind, el) {
          var $el = $(el);
          var name = $el.attr("name");
          var val = $el.val();
          // Convert ints/floats
          if ($el.attr("type") === "number") {
            val = Number(val);
          }
          // Convert bools
          if ($el.attr("pattern")) {
            val = (val === "true");
          }
          formObj[name] = val; // Set key and value
        });

        // TODO Sort race condition for capacity
        $.ajax({
          url: "/new-experiment/#{project._id}/" + macId,
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(formObj)
        }).
        then(function(resp) {
          location.assign("/experiments/" + resp.id); // Move to new experiment page
        });
        return false; // Stop event and propagation
      });

    });
